* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;

}

.w-33 {
    width: 33%;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;

}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.aligne-center {
    align-items: center;
}

header ul {
    list-style: none;
}
.section-hero {
    background-image: url("assets/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.aligne-texte{
    text-align: center;
}
.section-hero div {

    text-align: center;

}
.w-100 {
    width: 100%;
}
.w-48{
    width: 48%;
}
.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}
.margin-top{
    margin-top: 100px;
}
.w-75{
    width: 75%;
}
.btn {
    background-color: rgb(197, 194, 194);
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    display: inline-block;
}

.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.margin-bottom{
    margin-bottom: 100px;
}

.card {
    box-shadow: 5px 5px 10px rgba(33, 32, 32, 0.194);
    border-radius: 20px;

}

.background{
    background-color: #f4f0ec;
}

.padding{
    padding-top: ;
}

.w-20{
    width: 20%;
}
.w-15{
width: 15%;
}
.noir{
    background-color: #292F36;
    text-decoration: white;
}


