* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
a {
    text-decoration: none;

}

.w-33 {
    width: 33%;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;

}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.aligne-center {
    align-items: center;
}

header ul {
    list-style: none;
}
.section-hero {
    background-image: url("assets/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.aligne-texte{
    align-items: end;
}
.section-hero div {

    text-align: center;

}
.w-100 {
    width: 100%;
}
.w-48{
    width: 48%;
}
.w-50 {
    width: 50%;
}

.w-33 {
    width: 33%;
}

.w-25 {
    width: 25%;
}
.margin-top{
    margin-top: 100px;
}











