* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;

}

.w-33 {
    width: 33%;
}


.flex {
    display: flex;
    flex-wrap: wrap;
}

.space-between {
    justify-content: space-between;

}

.justify-content {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.aligne-center {
    align-items: center;
}

header ul {
    list-style: none;
}
.section-hero {
    background-image: url("assets-interno/Banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.aligne-texte{
    align-items: end;
}


